body{
	background-color: grey;
}

.container{
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.cube{
	height: 150px;
	width: 150px;
	display: flex;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px;
}

.point{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #000000;
}

.cube-column{
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.first-cube{
	justify-content: center;
	align-items: center;
}

.second-cube{
	justify-content: space-between;
}

.second-cube .point:nth-of-type(2){
	align-self: flex-end;
}

.third-cube{
	justify-content: space-between;
}

.third-cube .point:nth-of-type(2){
	align-self: center;
}

.third-cube .point:nth-of-type(3){
	align-self: flex-end;
}

.fourth-cube{
	justify-content: space-between;
}

.fifth-cube{
	justify-content: space-between;	
}

.fifth-cube .point:nth-of-type(2){
	align-self: center;
}

.sixth-cube {
	justify-content: space-between;
}
